@font-face {
    font-family: 'Sifonn';
    src: url(../font/SIFONN_PRO.otf) format('opentype');
}

body {
    background-color: #1b1f3a;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}








@media (max-width:768px) {
    #logoHolder {
        padding-top: 1vh;
        padding-bottom: 1vh;
        display: flex;
        width: 100vw;
        height: auto;
        align-items: center;
        justify-content: center;
        background-color: #121527;
        border-bottom: #000000 2px solid;
    }
    #topLogo {
        width: 10vh;
        min-width: 80px;
    }

    #welcome, #weAre {
        color: #7ed957;
        font-family: "Sifonn", sans-serif;
    }
    #weAre{
        margin-top: 10px;
    }

    .center {
        display: flex;
        width: 95vw;
        justify-content: center;
        align-items: center;
    }


    #centerContent {
        position: relative;
        justify-self: center;
        display: flex;
        width: 100vw;
        flex-direction: column;
        align-items: center;
    }
}